.center{
	.center(940px);
	position: relative;
}

#menu{
	.center(940px);
}

.col-esq(){
	.clearfix;
	position: relative;
	left: 0;
	top: 0;
	width: 600px;
}

.col-dir(){
	.clearfix;
	position: absolute;
	top: 88px;
	right: 0;
	width: 300px;
}